[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
sympy = "*"
nose = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
